body{
	background-color: rgb(250,250,243);
	font-family: Osaka;
	-webkit-text-size-adjust: 100%;
}

.marginTop{
	margin-top: 20px;
}

.childMain .main section h4.text{
	font-size: 15px;
	margin: 18px 0 0;
	padding-bottom: 4px;
	color: #FF6C00;
}

.attention {
	font-size: 12px;
}

.attention li {
	margin: 5px 0;
}

.childMain .main p .red{
	color: red;
}

.childMain p .blue{
	color: blue;
}

.text .gray{
	color: #777;
}

header.childHeader{
	width: 100%;
	height: 127px;
	background: url('../img/header/hd_flag_mini.png')
				center top no-repeat white;
	border-bottom: 4px solid rgb(250,250,243);
}

.gnav li {
	float: left;
}

.gnav li img {
	margin-top: 90px;
	margin-bottom: -4px;
	border-bottom: 4px  solid rgb(250, 250, 243);
}

header.childHeader .gnav li img.h_logo {
	margin-top: 5px;
}

.inner_link {
	text-decoration: underline;
	display: inline-block;
	margin-top: 15px;	
}

.inner_link:before {
	content: url('../img/project/a_icon_bottom.png');
	margin-right: 4px;
	position: relative;
	top: 2px;
}

.childMain{
	text-align: left;
	width: 960px;
	margin: 0 auto;
}

.childMain .wrapper {
	width: 743px;
	float: left;
	margin-left: -9px;
}

.childMain .bg_top{
	width: 743px;
	height: 50px;
	background: url('../img/child_common/bg_top.png')
				no-repeat 0 0;
}

.childMain .bg_bottom{
	width: 743px;
	height: 50px;
	background: url('../img/child_common/bg_bottom.png')
				no-repeat 0 0;
}

.childMain .main{
	background: url('../img/child_common/bg_middle.png')
				repeat-y 0 0;
	padding: 0 60px;
	min-height: 300px;
}

.childMain .main>section>section:not(:first-child){
	margin-top: 44px;
}

.childMain h2{
	color: #3B82C5;
	font-size: 22px;
	font-family: ;
	border-bottom: dashed #ccc 1px;
	margin-bottom: 20px;
}

.childMain .main>section:not(:first-child){
	margin-top: 40px;
}

.childMain h3{
	border-left: #FF6C00 solid 9px;
	padding-left: 10px;
	font-size: 17px;
	margin-top: 30px;
	margin-bottom: 10px;
}

.childMain h4 span{
	font-size: 15px;
	color: black;
	border-bottom: #000 solid 1px;
	margin-bottom: 5px;
}

.childMain .child_a{
	margin-top: 17px;
}

.childMain .child_a .exLink:after {
	margin-left: 7px;
	content: url("../img/child_common/link.png");
}

.childMain .child_a img:not(.action){
	float: left;
	margin-top: 3px;
	margin-right: 14px;
}

.childMain .child_a img.action{
	margin: 0px 0 10px 15px;
}

.childMain .child_a>a{
	text-align: center;
}

.childMain .child_a a {
	float: left;
	text-decoration: underline;
}

.childMain .main section .text{
	font-size: 13px;
	line-height: 22px;
	letter-spacing: 1px;
	text-align: justify;
	text-justify: inter-ideograph;
	-webkit-text-size-adjust: 100%;
}

.childMain p span.name{
	float: right;
	text-align: right;
}

.childMain p.bread_list{
	margin-left: 10px;
	margin-bottom: 15px;
	font-size: 11px;
}

/* ---------- project ---------- */
.symbol{
	width: 440px;
	float: right;
}

table.project_dt{
	margin: 15px 0 15px 25px;
}

table.project_dt th{
	width: 55px;
	margin-right: 10px;
}

table.project_ct{
	margin-left: 25px;
}

table.project_ct th{
	width: 55px;
}

table.symposium th {
	width: 120px;
	margin-right: 10px;
}

.supporter_list li {
	margin: 8px 0;
}

.supporter_list li img{
	width: 120px;
	margin: 0 15px 0 0;
	float: left;
}

.supporter_list li a img:hover {
	opacity: 0.7;
}

.supporter_name {
	width: 480px;
	float: left;
}

.supporter_name p:first-child {
	margin: 8px 0;
}

.photo-report li {
	display: inline-block;
	margin-bottom: 30px;
}

.photo-report li:nth-child(odd) {
	margin-right: 54px;
}

.photo-report li * {
	display: block;
	margin-top: 6px;
}

.professor-list li {
	margin: 15px 0;
}

.professor-list li img{
	width: 120px;
	margin: 5px 15px 0 0;
	float: left;
}

.professor-info {
	width: 480px;
	float: left;
}

.professor-name {
	margin-top: 4px;
	margin-bottom: 10px;
	font-size: 18px;
}

.roman-name {
	color: #FF6C00;
	font-size: 14px;
	/*font-style: italic;*/
	margin-left: 10px;
}
/* --------- greeting ---------- */
.greeting_text{
	width: 440px;
	float: left;
}

.chairman{
	float: right;
	width: 161px;
	padding-top: 5px;
}

.chairman p.name{
	text-align: right !important;
	letter-spacing: 0px !important;
}

/* --------- donation ---------- */
.donor_list {
	margin: 10px 0 0;
}

.donor_list li{
	width: 200px;
	margin: 3px 0;
	float: left;
}

/* --------- sideBar ---------- */
.sideBar{
	margin-top: 9px;
	float: right;
}

.sideBar .sb_party, .sideBar .sb_publ, .sideBar .sb_ques{
	width: 215px;
	height: 90px;
	margin-top: 2px;
	background: right top no-repeat;
}

.sideBar .sb_ribbon{
	margin-left: 15px;
}

.sideBar .sb_party{
	background-image: url('../img/child_common/sb_party.png');
}

.sideBar .sb_publ{
	background-image: url('../img/child_common/sb_publ.png');
}

.sideBar .sb_ques{
	background-image: url('../img/child_common/sb_ques.png');
}

.sideBar .sb_party.active{
	background-image: url('../img/child_common/sb_party_active.png');
}

.sideBar .sb_publ.active{
	background-image: url('../img/child_common/sb_publ_active.png');
}

.sideBar .sb_ques.active{
	background-image: url('../img/child_common/sb_ques_active.png');
}

/* ---------- アンケート結果 ---------- */
.company {
	margin-top: 55px;
}
.company-figure {
	width: 45%;
	float: left;
}
.company-name {
	float: right;
	width: 52%;
}
.company-name-list {
	font-size: 12px;
	text-align: justify;
	line-height: 19px;
	letter-spacing: .05em;
}
.company-name-ttl:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	width: 12px;
	height: 12px;
}
.company-name-ttl:after {
	content: '';
	display: inline-block;
	margin-left: 5px;
	vertical-align: middle;
	width: 160px;
	height: 1px;
	border-top: 2px dotted;
}

.academy_table td {
	padding-right: 25px;
}
.company-name-ttl.architecture:before{
	background-color: #66CEE6;
}
.company-name-ttl.product:before{
	background-color: #277DC7;
}
.company-name-ttl.graphic:before{
	background-color: #FC0000;
}
.company-name-ttl.it:before{
	background-color: #FF56A1;
}
.company-name-ttl.game:before{
	background-color: #00BF65;
}
.company-name-ttl.others:before{
	background-color: #C8C9CA;
}
.company-name-ttl.architecture:after{
	border-color: #66CEE6;
}
.company-name-ttl.product:after{
	border-color: #277DC7;
}
.company-name-ttl.graphic:after{
	border-color: #FC0000;
}
.company-name-ttl.it:after{
	border-color: #FF56A1;
}
.company-name-ttl.game:after{
	border-color: #00BF65;
}
.company-name-ttl.others:after{
	border-color: #C8C9CA;
}